<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.gobbs.register.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>userinfo</servlet-name>
    <servlet-class>com.gobbs.user.userinfo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MailVerifyServlet</servlet-name>
    <servlet-class>com.gobbs.register.MailVerifyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.gobbs.login.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MainPageServlet</servlet-name>
    <servlet-class>com.gobbs.mainpage.MainPageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SectionPageServlet</servlet-name>
    <servlet-class>com.gobbs.mainpage.SectionPageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserPageServlet</servlet-name>
    <servlet-class>com.gobbs.user.UserPageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PostPageServlet</servlet-name>
    <servlet-class>com.gobbs.mainpage.PostPageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PublishPostServlet</servlet-name>
    <servlet-class>com.gobbs.publish.PublishPostServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.gobbs.mainpage.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.gobbs.login.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NextPostPageServlet</servlet-name>
    <servlet-class>com.gobbs.mainpage.NextPostPageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NextReplyPageServlet</servlet-name>
    <servlet-class>com.gobbs.mainpage.NextReplyPageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PublishReplyServlet</servlet-name>
    <servlet-class>com.gobbs.publish.PublishReplyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LikeServlet</servlet-name>
    <servlet-class>com.gobbs.user.LikeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CollectServlet</servlet-name>
    <servlet-class>com.gobbs.user.CollectServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>com.gobbs.user.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.gobbs.user.DeleteServlet</servlet-class>
  </servlet>
















  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/servlet/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MailVerifyServlet</servlet-name>
    <url-pattern>/servlet/MailVerifyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MainPageServlet</servlet-name>
    <url-pattern>/servlet/MainPageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SectionPageServlet</servlet-name>
    <url-pattern>/servlet/SectionPageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserPageServlet</servlet-name>
    <url-pattern>/servlet/UserPageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostPageServlet</servlet-name>
    <url-pattern>/servlet/PostPageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PublishPostServlet</servlet-name>
    <url-pattern>/servlet/PublishPostServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/servlet/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/servlet/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NextPostPageServlet</servlet-name>
    <url-pattern>/servlet/NextPostPageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NextReplyPageServlet</servlet-name>
    <url-pattern>/servlet/NextReplyPageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PublishReplyServlet</servlet-name>
    <url-pattern>/servlet/PublishReplyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LikeServlet</servlet-name>
    <url-pattern>/servlet/LikeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CollectServlet</servlet-name>
    <url-pattern>/servlet/CollectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/servlet/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/servlet/DeleteServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>