<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper:根标签，namespace：命名空间，随便写，一般保证命名空间唯一 -->
<mapper namespace="AdministratorDao">
    <!-- statement，内容：sql语句。id：唯一标识，随便写，在同一个命名空间下保持唯一
       resultType：sql语句查询结果集的封装类型,tb_user即为数据库中的表
     -->
    <!--<select id="queryUserById" resultType="com.zpc.mybatis.pojo.User">-->
    <!--select * from tb_user where id = #{id}-->
    <!--</select>-->

	<select id="queryAdministratorByUid" resultType="com.njust.edu.pojo.Administrator">
		select uid,aid,get_date,lose_date from administrator where uid=#{uid}
	</select>
	
	<select id="queryAdministratorByAid" resultType="com.njust.edu.pojo.Administrator">
		select uid,aid,get_date,lose_date from administrator where aid=#{aid}
	</select>
	
	<select id="queryAdministratorAll" resultType="com.njust.edu.pojo.Administrator">
        select * from administrator
    </select>
    
	<insert id="insertAdministrator" parameterType="com.njust.edu.pojo.Administrator">
		insert into administrator(uid,get_date) values(#{uid},#{get_date})
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="aid">
          SELECT LAST_INSERT_ID()
        </selectKey>
	</insert>

	<update id="updateAdminstartorLoseDateByUid" parameterType="com.njust.edu.pojo.Administrator">
		update administrator set lose_date=#{lose_date} where uid=#{uid}
	</update>
	
	<update id="updateAdminstartorLoseDateByAid" parameterType="com.njust.edu.pojo.Administrator">
		update administrator set lose_date=#{lose_date} where aid=#{aid}
	</update>

	<delete id="deleteAdminstartorByUid">
        delete from administrator where uid=#{uid}
    </delete>

	<delete id="deleteAdminstartorByAid">
        delete from administrator where aid=#{aid}
    </delete>

</mapper>

