<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LexiconDao">

	<insert id="insertLexicon">
		insert into lexicon(content) values(#{content})
	</insert>
	
	<delete id="deleteLexiconByContent">
		delete from lexicon where content=#{content}
	</delete>
	
	<select id="queryLexiconAll" resultType="com.njust.edu.pojo.Lexicon">
		select * from lexicon
	</select>

</mapper>