<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Password_protectionDao">
	
	<insert id="insertPassword_Protection" parameterType="com.njust.edu.pojo.Password_protection">
		insert into password_protection values(#{uid},#{order_number},#{question},#{answer})
	</insert>
	
	<update id="updatePassword_protection" parameterType="com.njust.edu.pojo.Password_protection">
		update password_protection set question=#{question},answer=#{answer} where uid=#{uid} and order_number=#{order_number}
	</update>
	
	<select id="queryPassword_protectionByUid" resultType="com.njust.edu.pojo.Password_protection">
		select * from password_protection where uid=#{uid}
	</select>
	
	<select id="queryPassword_protectionAll" resultType="com.njust.edu.pojo.Password_protection">
		select * from password_protection
	</select>
	
</mapper>
