<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReplyDao">

	<insert id="insertReply" parameterType="com.njust.edu.pojo.Reply">
		insert into reply(uid,tid,bid,reply_date,reply_time,reply_order,reply_body) values(#{uid},#{tid},#{bid},#{reply_date},#{reply_time},#{reply_order},#{reply_body})
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="hid">
          SELECT LAST_INSERT_ID()
        </selectKey>
	</insert>
	
	<update id="updateReplyByHid" parameterType="com.njust.edu.pojo.Reply">
		update reply set like_num=#{like_num},is_delete=#{is_delete},have_reply_of_reply=#{have_reply_of_reply},ror_num=#{ror_num} where hid=#{hid}
	</update>

	<delete id="deleteReplyByHid">
		delete from reply where hid=#{hid}
	</delete>
	
	<select id="queryReplyByHid" resultType="com.njust.edu.pojo.Reply">
		select uid,tid,bid,hid,reply_date,reply_time,like_num,reply_order,reply_body,is_delete,have_reply_of_reply,ror_num from reply where hid=#{hid}
	</select>
	
	<select id="queryReplyByUidTid" resultType="com.njust.edu.pojo.Reply">
		select uid,tid,bid,hid,reply_date,reply_time,like_num,reply_order,reply_body,is_delete,have_reply_of_reply,ror_num from reply where uid=#{uid} and tid=#{tid}
	</select>
	
	<select id="queryReplyByTid" resultType="com.njust.edu.pojo.Reply">
		select uid,tid,bid,hid,reply_date,reply_time,like_num,reply_order,reply_body,is_delete,have_reply_of_reply,ror_num from reply where tid=#{tid}
	</select>
	
	<select id="queryReplyAll" resultType="com.njust.edu.pojo.Reply">
		select * from reply;
	</select>

</mapper>